@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
	}
[class^="ico-"]:before, [class*=" ico-"]:before {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	}

/* 'INTERNAL USE ICO' */
.entry-meta .ico-tags	  { margin-right: 3px; }
.ico-tags:before          { content: '\f02c'; }
.ico-left-open:before 	  { content: '\f137'; }
.ico-right-open:before	  { content: '\f138'; }
.ico-rss:before           { content: '\f09e'; }
.entry-meta .ico-calendar { margin-right: 3px; }
.ico-calendar:before 	  { content: '\f073'; }
.ico-search:before        { content: '\f002'; }
.entry-meta .ico-user     { margin-right: 3px; }
.ico-user:before          { content: '\f007'; }
.ico-mail:before          { content: '\f0e0'; }
.ico-links:before         { content: '\f0c1'; }
.entry-meta .ico-folder   { margin-right: 3px; }
.ico-folder:before 	      { content: '\f07c'; }
.ico-comment:before 	  { content: '\f0e6'; }

/* 'SHORTCODE SUPPORT OS ICO' */
.ico-os-gnu-linux:before        { content: '\f17c'; }
.ico-os-win:before              { content: '\f17a'; }
.ico-os-osx:before              { content: '\f179'; }
.ico-os-android:before          { content: '\f17b'; }

/* 'CAT ICO' */
.ico-cat-gnu-linux:before       { content: '\f17c'; width: 30px; font-size: 30px; }
.ico-cat-cine:before            { content: '\f008'; width: 30px; font-size: 30px; }
.ico-cat-jeux-video:before,
.ico-cat-retrogaming:before 	{ content: '\f11b'; width: 30px; font-size: 30px; }
.ico-cat-choses:before          { content: '\f06e'; width: 30px; font-size: 30px; }
.ico-cat-informatique:before	{ content: '\f109'; width: 30px; font-size: 30px; }
.ico-cat-tuto:before            { content: '\f11c'; width: 30px; font-size: 30px; }
.ico-cat-lepouf:before          { content: '\f0f4'; width: 30px; font-size: 30px; }
.ico-cat-musique:before         { content: '\f001'; width: 30px; font-size: 30px; }

/* 'SOCIAL ICO' */
.ico-twitter:before 	{ content: '\f099'; }
.ico-facebook:before 	{ content: '\f09a'; }
.ico-gplus:before       { content: '\f0d5'; }
.ico-youtube:before 	{ content: '\f167'; }	
.ico-reddit:before 	    { content: '\f1a1'; }
.ico-github:before 	    { content: '\f09b'; }